.table {
  border-bottom: 1px solid grey;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid grey;
    border-bottom: none;
    cursor: pointer;
    &:hover {
      background-color: lightgrey;
    }
    &.active {
      background-color: grey;
    }
  }
  &__like {
    width: 25px;
  }
}
